<div id="project-index">
  <% if msg = flash[:error] %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        &times;
      </button>
      <strong><%= msg %></strong>
    </div>
  <% end %>
  <ul class="list-group" id="tasks">
    <% @project.each do |project| %>
      <% if project.done %>
        <li class='list-group-item project-item completed' id="project_<%= project.id %>">
          <%= link_to("Mark Incomplete",
                      project_path(id: project.id, done: false),
                      method: "patch",
                      class: "btn btn-sm btn-danger" ) %>
      <% else %>
        <li class='list-group-item project-item' id="project_<%= project.id %>">
          <%= link_to('Mark Complete',
                      project_path(id: project.id, done: true),
                      method: 'patch',
                      :class => 'btn btn-sm btn-success')  %>
      <% end %>
      <%= link_to("Delete",
                  project_path(id: project.id),
                  method: "delete",
                  class: "btn btn-sm btn-warning",
                  data: { confirm: "Are you sure?" }) %>
      <%= project.project_name %>
      </li>
    <% end %>
    <li class='list-group-item' id="new-task-form">
      <%= form_tag("/project", method: "post") do %>
        <%= submit_tag("Add New Task", class: "btn btn-sm btn-primary") %>
        <%= text_field_tag(:project_name) %>
      <% end %>
    </li>
  </ul>
</div>
